includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    ignoreErrors:
        - '#Call to an undefined static method PHPUnit\\Framework\\TestCase::assertIs(Array|Bool|String)\(\)#'
