includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    ignoreErrors:
        - message: Call to an undefined static method PHPUnit\Framework\TestCase::assertIs(Array|Bool|String)\(\)
          path: src/Traits/Testing/PHPUnit8ShimPHPGTE71.php
